[Unit]
Description= Control SESAME3 from Homebridge by MQTT

[Service]
# Please modify to doorman placed path
Environment=DOORMAN_PATH=/home/pi/doorman
WorkingDirectory=/home/pi/doorman

ExecStart=python3 ${DOORMAN_PATH}/doorman.py
EnvironmentFile=-${DOORMAN_PATH}/config.yaml
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target